<template>
    <div class="container">
        <h4 class="title">Starship information</h4>
        <div class="info">
            <loading v-if="preload"/>
            <div class="info__item" v-for="(item,key,index) in loadServerData" :key="key" >
                <template v-if="Array.isArray(item)">
                    <div class="info__item_title">
                        {{key}} -
                    </div>
                    <div class="info__item_text">
                        <span v-for="array in item">{{array}}</span> <br>
                    </div>
                </template>
                <template v-else>
                    <div class="info__item_title">
                        {{key}} -
                    </div>
                    <div class="info__item_text">
                        <span v-if="key === 'created' || key === 'edited'">
                             {{ new Date(item).toLocaleString() }}
                        </span>
                        <span v-else>
                            {{item}}
                        </span>
                    </div>
                </template>
            </div>
        </div>
        <div class="button-back">
            <a class="back-link" @click="$router.go(-1)">back</a>
        </div>
    </div>
</template>

<script>
    import Loading from "../components/loading";
    export default {
        name: "AppIdStarships",
        components: {Loading},
        data(){
            return {
                loadServerData: {},
                defaultUrl: 'https://swapi.co/api/starships/',
                preload: false
            }
        },
        methods: {
            async loadServer(id){
                try{
                    this.preload = true
                    let response =  await this.$http.get(this.defaultUrl + id + '/');
                    console.log(response.data);
                    for ( let key in response.data){
                        this.$set(this.loadServerData, key, response.data[key])
                    }
                    this.preload = false
                } catch(error) {
                    alert("Ошибка - " + error)
                    this.preload = false
                }
            },
        },
        created() {
            let id = this.$route.params.id;
            this.loadServer(id)
        }
    }
</script>

<style lang="sass" scoped>
    .title
        font-size: 18px
        text-align: center
        padding: 15px
        font-weight: 500
    .info
        position: relative
        min-height: 200px
        width: 70%
        margin: 15px auto
        display: flex
        flex-direction: column
        &__item
            padding: 10px
            border-bottom: 1px solid #333
            display: flex
            justify-content: space-between
            align-items: center
            &_title
                font-weight: 500
            &_text
                display: flex
                flex-direction: column
    .button-back
        font-size: 18px
        margin: 30px auto
        text-decoration: underline
        text-align: center
        cursor: pointer
</style>