<template>
    <div class="container">
        <h1 class="title">Страница не найдена</h1>
        <router-link to="/">Вернуться на главную</router-link>
    </div>
</template>

<script>
    export default {
        name: "AppNotFound",
    }
</script>

<style lang="sass" scoped>
    .container
        width: 100%
        display: flex
        align-items: center
        flex-direction: column
    .title
        margin: 100px 0 30px
</style>
