<template>
    <div class="container">
        <div class="search">
            <input type="text"
                   v-model="search"
                   @input="searchQuery"
                   class="search__input"
                   placeholder="Search"
            >
        </div>
        <div class="table">
            <loading v-if="preload"/>
            <div class="table__row" v-for="item in loadServerData">
                <div class="table__col">
                    {{item.name}}
                </div>
                <div class="table__col">
                    <button @click="openPageId(item.url)">more</button>
                </div>
            </div>
            <div class="table__error" v-if="loadServerData.length === 0">
                No results
            </div>
        </div>
        <div class="pagination">
            <button @click="pagination('prev')"
                    :class="urlPrev?'':'disabledButton'">
                prev
            </button>
            <button @click="pagination('next')"
                    :class="urlNext?'':'disabledButton'">
                next
            </button>
        </div>

    </div>
</template>

<script>
    import Loading from "../components/loading";
    export default {
        name: "AppStarships",
        components: {Loading},
        data(){
            return {
                search: '',
                loadServerData: [],
                urlNext: '',
                urlPrev: '',
                urlAll: 'https://swapi.co/api/starships/',
                preload: false
            }
        },
        methods: {
            searchQuery(){
                let urlSearch = this.urlAll + '?search=' + this.search
                if(this.search) {
                    this.$router.replace({ path: '/', query: { search: this.search }})
                    this.loadServer(urlSearch);
                }
                else {
                    this.$router.replace({ path: '/'})
                    this.loadServer(this.urlAll);
                }

            },
            openPageId(url){
                let arrayUrl = url.split('/');
                let id = arrayUrl[arrayUrl.length - 2]
                this.$router.push({path: '/spaceship/'+ id + '/'})
            },
            pagination(type){
                let urlString = type === 'next' ? this.urlNext : this.urlPrev
                let url = new URL(urlString);
                let searchParams = new URLSearchParams(url.search.substring(1));
                let page = searchParams.get("page"),
                    search = searchParams.get("search");

                if(search) this.$router.replace({ path: '/', query: { page: page, search: search } })
                else this.$router.replace({ path: '/', query: { page: page} })
                this.loadServer(url)
            },
            async loadServer(url){
                try{
                    this.preload = true
                    let response =  await this.$http.get(url);
                    this.urlNext = response.data.next
                    this.urlPrev = response.data.previous
                    this.loadServerData.splice(0)
                    response.data.results.forEach(el=>{
                        this.loadServerData.push(el)
                    })
                    this.preload = false
                } catch(error) {
                    alert("Ошибка - " + error)
                    this.preload = false
                }
            }
        },
        created() {
            let querySearch = this.$route.query.search;
            let queryPage = this.$route.query.page;
            this.search = querySearch;
            if(querySearch && queryPage) this.loadServer(this.urlAll + '?page='+queryPage + '&search=' + querySearch);
            else if(queryPage) this.loadServer(this.urlAll + '?page=' + queryPage);
            else if(querySearch) this.loadServer(this.urlAll + '?search=' + querySearch);
            else this.loadServer(this.urlAll);
        }
    }
</script>

<style lang="sass" scoped>
    .table
        min-height: 100px
        width: 100%
        position: relative
        display: flex
        flex-direction: column
        &__row
            padding: 10px
            border-bottom: 1px solid #333
            width: 100%
            display: flex
            justify-content: space-between
            button
                padding: 5px 10px
                border: 1px solid #333
                border-radius: 5px
                background-color: transparent
        &__error
            font-size: 18px
            text-align: center
            padding-top: 15px
    .search
        width: 100%
        padding: 10px
        text-align: center
        &__input
            margin: 10px
            padding: 7px 15px
            border: 1px solid #333
            border-radius: 7px
    .pagination
        width: 100%
        display: flex
        margin-top: 30px
        justify-content: center
        button
            background-color: transparent
            font-size: 18px
            padding: 7px 15px
            border: 1px solid #333
            border-radius: 10px
            margin: 20px
</style>