<template>
    <div class="header">
        <div class="header__logo">swapi</div>
    </div>
</template>

<script>
    export default {
        name: "AppHeader"
    }
</script>

<style lang="sass" scoped>
    .header
        width: 100%
        background-color: #272b30
        text-align: center
        padding: 10px
        &__logo
            color: #ffe300
            font-size: 26px
</style>