<template>
    <div class="preload">
        <div class="item-1"></div>
        <div class="item-2"></div>
        <div class="item-3"></div>
        <div class="item-4"></div>
        <div class="item-5"></div>
    </div>
</template>

<script>
    export default {
        name: "loading"
    }
</script>

<style lang="sass" scoped>
    @mixin anim()
        @keyframes scale
            0%
                transform: scale(1)
            50%,75%
                transform: scale(2.5)
            78%,100%
                opacity: 0
    $color-4: #eead68
    $color-3: #eec368
    $color-2: #eece68
    $color-1: #eed968
    $color-5: #ee8c68

    $color: $color-1, $color-2, $color-3, $color-4, $color-5
    .preload
        background-color: rgba(255,255,255,.7)
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 100%
        z-index: 5
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        animation-delay: 1s
    .item-1,.item-2,.item-3,.item-4,.item-5
        width: 20px
        height: 20px
        border-radius: 50%
        margin: 7px
        display: flex
        justify-content: center
        align-items: center
    @for $i from 1 through 5
        .item-#{$i}
            @include anim()
            background-color: nth($color, $i)
            &:before
                content: ''
                width: 20px
                height: 20px
                border-radius: 50%
                background-color: nth($color, $i)
                opacity: 0.7
                animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02)
                animation-delay: 200ms * $i
                transition: 0.5s all ease
                transform: scale(1)
</style>