
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend
    vertical-align: baseline
    outline: 0
    padding: 0
    margin: 0
    border: 0
body
    background: white
    line-height: 1

ol, ul
    list-style: none

table
    border-collapse: separate
    border-spacing: 0

button:hover
    cursor: pointer
*
    box-sizing: border-box

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap')
body, button, textarea, input, select
    font-family: 'Roboto', sans-serif
    font-weight: 300
    outline: none
