<template>
    <div id="App">
        <app-header/>
        <router-view/>
    </div>
</template>

<script>
    import AppHeader from "./components/AppHeader";
    export default {
        name: "App",
        components: {AppHeader}
    }
</script>

<style lang="sass">
    @import "styleSupport/default"
    .disabledButton
        opacity: .3
        pointer-events: none
    .container
        max-width: 1000px
        margin: 0 auto
</style>